* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	--hue: 223;
	--bg: hsl(var(--hue),10%,90%);
	--fg: hsl(var(--hue),10%,10%);
	font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1280 - 320));
}

.block {
	display: none;
}

.block.active {
	display: block;
}

.nav-btn {
	color: blue;
}

.nav-btn.active {
	color: red;
}

body {
	background-color: var(--bg);
	color: var(--fg);
	font: 1em/1.5 sans-serif;
	height: 100vh;
	display: grid;
	place-items: center;
	transition: background-color 0.3s;
}
main {
	padding: 1.5em 0;
}

.list_offers{
	width: 500px;
	transition: 0.5s ease;
}
.item_offer{
	display: flex;
	flex-wrap: wrap;
	border: 1px solid #fff;
	padding: 10px;
	margin-bottom: 10px;
	height: 120px;
}
.item_offer:first-child{
	margin-top: 5px;
}
.item_offer:last-child{
	margin-bottom: 5px;
}
.item_offer img{
	width: 100px;
	display: block;
	height: 100px;
}
.item_offer h3{
	flex-grow: 1;
	font-size: 16px;
}
.offer_info{
	padding-left: 30px;
	width: 78%;
}
.offer_info .city{
	font-size: 14px;
}
.item_offer .money{
	font-size: 14px;
	font-weight: bold;
}
.carousel{
	overflow: hidden;
	height: 395px;
	position: relative;
}
.navigation_carousel_buttons button{
	border: 1px solid #000;
	padding: 5px 10px;
	color: #000;
	width: 70px;
	left: 50%;
	margin-left: -35px;
	cursor: pointer;
}
.navigation_carousel_buttons button.prev{
	position: absolute;
	top: 0;
}
.navigation_carousel_buttons button.next{
	position: absolute;
	bottom: 0;
}