.wrapper-top {
  display: flex;
  justify-content: flex-end;
}

.nav-menu-btn {
  cursor: pointer;
  margin: 25px 25px 0 0;
  z-index: 4;
  width: 36px;
  height: 31px;
}

.nav-menu-btn span {
  background-color: #000;
  height: 2px;
  width: 20px;
  display: block;
  margin: 4px 0;
  transition: all .3s;
}

.nav-menu-btn span:nth-child(1) {

}

.nav-menu-btn span:nth-child(2) {
  margin-left: -5px;
}

.nav-menu-btn span:nth-child(3) {

}

.main-menu {
  position: fixed;
  width: 100%;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  display: none;
}

.main-menu:before {
  content: '';
  position: absolute;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  right: -50%;
  top: 0;
  background-color: #f00;
  animation: circleMenu 1s ease both;
  transform: scale(0);
}

.main-wrapper.active .main-menu {
  display: block;
}

.main-wrapper.active .nav-menu-btn span:nth-child(2){
  display: none;
}

.main-wrapper.active .nav-menu-btn span:nth-child(1){
  transform: rotate(-45deg);
  margin-top: 7px;
}

.main-wrapper.active .nav-menu-btn span:nth-child(3){
  transform: rotate(45deg);
  margin-top: -7px;
}

.main-menu ul li {
  margin-right: 5px;
}


@keyframes circleMenu {
  0% {
    border-radius: 100%;
    right: -50%;
    top: 0%;
    transform: scale(0);
  }
  100% {
    border-radius: 0%;
    width: 100%;
    right: 50%;
    top: 50%;
    transform: scale(75);
  }
}