.wrapper {
  height: 500px;
  position: relative;
}

.button {
  padding: 10px;
  display: block;
  margin: 0 auto;
  background-color: transparent;
  border: 3px solid #f0f;
  cursor: pointer;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scale(1);
  top: 50%;
}

.backInDown {
  animation: backInDown .5s ease;
  animation-fill-mode: forwards;
}

.bounceIn {
  animation: bounceIn .5s ease;
  animation-fill-mode: forwards;
}

@keyframes backInDown {
  0% {
    opacity: 0;
    top: -100%;
  }
  100% {
    opacity: 1;
    top: 50%;
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: translateX(-50%) scale(.5);
  }
  50% {
    opacity: .5;
    transform: translateX(-50%) scale(1);
  }
  75% {
    opacity: .75;
    transform: translateX(-50%) scale(.75);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) scale(1);
  }
}